.newForm{
    max-width: 500px;
    margin: 0 auto;
    border: 1px solid black;
    padding: 10px;
    margin-top: 40px
}
.newForm h3{
    font-size: 35px;
}
label{
    color: black;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 8px;
    display: block;
}
#newType{
    font-size: 20px;
    width: 80%;
    display: block;
}
#author{
    width: 90%;
    height: 25px;
    font-size: 25px;
}
#text{
    width: 90%;
    height: 140px;
}
.newButton{
    display: block;
    font-size: 20px;
    padding: 5px 10px;
    background: #cccccc;
    border-radius: 3px;
}
#text{
    font-size: 16px;
}