.mainItem {
    border: 1px solid black;
    padding: 2px;
    display: flex;
    width: 95%;

}

.textItem {
    display: block;
    width: 98%;
}

.contItem {
    width: 14%;
}
.countFirstItem{
    width: 84%;
}

.editItem {
    cursor: pointer;
    display: inline-block;
    padding: 5px;
    border: 2px solid blue;
    font-size: 18px;
    font-weight: bold;
    color: blue;
}

.removeItem {
    cursor: pointer;
    display: inline-block;
    padding: 5px;
    margin-left: 10px;
    border: 2px solid red;
    border-radius: 50%;
    font-size: 20px;
    font-weight: bold;
    color: red;

}