.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.navigation{
  float: left;
}
.menu{
  border: 1px solid black;
  max-width: 1000px;

}
.menu h6{
  display: inline-block;

}

.menu p{
  display: inline-block;
  float: right;
  padding:  5px 10px;

}
